<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orderMapper">
	<resultMap type="OrderList" id="OrderListMap">
		<id column="ORDER_ID" property="orderId" />
		<result column="USER_ID" property="userId" />
		<result column="STORE_ID" property="storeId" />
		<result column="TOTAL" property="total" />
		<result column="ORDER_STATE" property="orderState" />
		<result column="REGDATE" property="regdate" />
		<collection property="orderItems" ofType="orderItem">
			<id column="ITEM_ID" property="itemId" />
			<result column="ORDER_ID" property="orderId" />
			<result column="PRODUCT_ID" property="productId" />
			<result column="BREAD_TYPE" property="breadType" />
			<result column="VEGGIES" property="veggies" />
			<result column="SOURCE" property="source" />
			<result column="QUANTITY" property="quantity" />
			<result column="attach" property="attatch" />
		</collection>
	</resultMap>
	
	<select id="select"></select>
</mapper>

<!-- List<OrderItem> orderItems; -->