<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orderMapper">

	<sql id="orderListColumns">
		ORDER_ID,USER_ID,STORE_ID,TOTAL,ORDER_STATE,REGDATE
	</sql>
	<sql id="orderItemColumns">
		ITEM_ID,ORDER_ID,PRODUCT_ID,BREAD_TYPE,VEGGIES,SOURCE,ATTACH,LENGTH
	</sql>

	<resultMap type="orderList" id="orderListMap">
		<id column="ORDER_ID" property="orderId" />
		<result column="USER_ID" property="userId" />
		<result column="STORE_ID" property="storeId" />
		<result column="TOTAL" property="total" />
		<result column="ORDER_STATE" property="orderState" />
		<result column="REGDATE" property="regdate" />
		<collection property="orderItems" ofType="orderItem">
			<id column="ITEM_ID" property="itemId" />
			<result column="ORDER_ID" property="orderId" />
			<result column="PRODUCT_ID" property="productId" />
			<result column="BREAD_TYPE" property="breadType" />
			<result column="VEGGIES" property="veggies" />
			<result column="SOURCE" property="source" />
			<result column="ATTACH" property="attach" />
		</collection>
	</resultMap>

	<select id="selectOrderList" parameterType="string" resultMap="orderListMap">
		SELECT
		<include refid="orderListColumns" />
		,ITEM_ID,PRODUCT_ID,BREAD_TYPE,VEGGIES,SOURCE,ATTACH
		FROM ORDER_LIST JOIN ORDER_ITEM USING(ORDER_ID)
		<if test="_parameter!= null">
			WHERE USER_ID=#{_parameter}
		</if>
		ORDER BY REGDATE DESC, ATTACH
	</select>

	<select id="selectOrderItems" resultType="orderItem">
		SELECT
		<include refid="orderItemColumns" />
		FROM ORDER_ITEM
	</select>

	<!-- 오더리스트에 집어넣기 -->
	<insert id="insertOrderList" parameterType="orderList">
		INSERT INTO ORDER_LIST(ORDER_ID,USER_ID,STORE_ID,TOTAL,REGDATE)
		VALUES(#{orderId}, #{userId},#{storeId},#{total},SYSDATE)
	</insert>

	<!-- 오더 아이템 넣기 -->
	<insert id="insertOrderItem" parameterType="orderItem">
		INSERT INTO ORDER_ITEM(
		<include refid="orderItemColumns" />
		)
		VALUES(#{itemId},#{orderId},#{productId},#{breadType},#{veggies},#{source},#{attach},#{length})
	</insert>

	<!-- 오더 아이템 마지막번호 불러오기 -->
	<select id="getLastItemId" resultType="_int">
		SELECT MAX(ITEM_ID) FROM ORDER_ITEM
	</select>
</mapper>

<!-- List<OrderItem> orderItems; -->