<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userMapper">
	
<sql id="userColumn">
   USER_ID,USER_NAME,USER_PASSWORD,USER_phone,USER_email,
   USER_profile_img,SOCIAL_TYPE,SOCIAL_TOKEN,REG_DATE,mileage,rating
</sql>
<!-- 
<resultMap type="member" id="memberSelectMap">
  <id column="MEMBER_ID" property="id"/>
  <result column="MEMBER_PASSWORD" property="password"/>
  <result column="MEMBER_NAME" property="name"/>
  <result column="MEMBER_EMAIL" property="email"/>
</resultMap>
 -->
<!-- id에 해당하는 정보 검색 -->
<select id="selectUserById" parameterType="string" resultType="user">
  select <include refid="userColumn"/>
  from userdb
  where USER_ID=#{_parameter} 
</select>

<!-- 회원가입 -->
<insert id="insertUser" parameterType="user">
	insert into userdb(USER_ID,USER_NAME,USER_PASSWORD,USER_phone,USER_email,USER_profile_img,REG_DATE,mileage,rating)
	values(#{userId},#{userName},#{userPassword},#{userPhone},#{userEmail},#{userProfileImg},sysdate,0,'bronze')
</insert>




</mapper>	